.about {
	padding-block: var(--section-padding-y);

	&__inner {
		display: grid;
		row-gap: rem(32);
		align-items: center;

		@include mobile-above {
			grid-template-columns: 49% 1fr;
			grid-template-areas: 
					'other image'
					'other image'
					'other image';
		}

		@include mobile {
			row-gap: rem(22);
			grid-template-columns: 1fr; 
			grid-template-areas: 
					'image'
					'title'
					'description'
					'socials';
		
		}
	}
	
	&__image {
		grid-area: image;
		width: fluid(630, 332);


	}

	&__title {
		display: flex;
		flex-direction: column;
		padding-top: rem(120);

		@include tablet {
			padding-top: rem(8);
		}

		&-greeting {
			font-weight: 400;
		}

		&-name, &-profession {
			font-weight: 800;
		}

		&-profession-accent {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: rem(2) var(--color-black);

			@include mobile-s {
				-webkit-text-stroke-width: rem(1);
			}
		}

		&-location {
			font-weight: 400;
		}

		&-location-accent {
			font-weight: 800;
		}

		span {
			white-space: nowrap;
		}
	}

	&__description {
		color: var(--zinc-500);
		font-size: rem(16);
	}
}