.burger-button {
	@include flex-center(true);
	@include square(48px); // По макету кнопка имеет размер 48 x 48, но через внешний stroke (outline) добавлена 3px рамка, поэтому все это делать мы будем делать через border, но не outside, а indside. Здесь зарешает border-box, прописанный в нормализации.
  
	padding: 0;
  background-color: transparent;
	border: rem(2) solid var(--color-black);
	border-radius: rem(4);

	@include hover {
		border-color: var(--color-accent);
		.burger-button__line {
			stroke: var(--color-accent);
		}
	}

	&.is-active {
		.burger-button__line {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			
			&--2 {
				stroke-dasharray: 1 60;
				stroke-dashoffset: -30;
			}
		}
	}

	&:not(.is-active) {
		.burger-button__line--3 {
			stroke-dasharray: 30 207;
			stroke-dashoffset: -30;
		}
	}

	&__line {
		fill: none;
		stroke: var(--color-black);
		stroke-width: 6;
		stroke-linecap: round;
		stroke-dasharray: 60 207;
		transition:
			stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1);
		
		&--2 {
			stroke-dasharray: 60 60;
		}
	}
}