@use "../helpers" as *;

.feedback-form {
	display: grid;
	row-gap: rem(20);
	
	@include mobile-s-above {
		grid-template-columns: repeat(1, 1fr);
	}

	&__cell {
		&--wide {
			grid-column: -1 / 1;
		}
	}

	&__actions {
		display: flex;
		column-gap: rem(24);
		align-items: center;

		@include mobile-s {
			flex-direction: column;
			align-items: stretch;
			row-gap: rem(20);
		}
	}
}