.header {
	font-weight: 600;
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100%;
	padding-block: fluid(24, 16);
	animation-name: scrolling-header;
	animation-fill-mode: both;
	animation-timeline: scroll();
	animation-range: rem(0) rem(100);

	@keyframes scrolling-header {
		to {
			background-color: var(--color-white);
			padding-block: 10px;
			box-shadow: -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px #000;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		column-gap: rem(16);

		@include tablet-above {
			justify-content: space-between;
		}
	}

	&__logo {
		@include tablet {
			margin-right: auto;
		}
	}

	&__overlay-menu-dialog {
		position: fixed;
		inset: 0;
		flex-direction: column;
		row-gap: 16px;
		justify-content: start;
		width: 100%;
		height: 100%;
		padding: var(--container-padding-x); // У элемента dialog есть отступы по умолчанию, который также нужно сбросить.
		background-color: var(--color-white);
		border: none; // У элемента dialog есть border по умолчанию, который нужно скрыть.
		transition-duration: var(--transition-duration); // Просто так это работать не будет, потому что свойство display по умолчанию анимировать не получится, но мы можем включать анимацию дискретных свойств, таких как display.
		transition-behavior: allow-discrete; // transition-behavior: allow-discrete — разрешает анимировать display
		opacity: 1; // 
		translate: 0;

		@include tablet-above {
			display: contents; // Значение contents у свойства display буквально говорит браузеру: «Представь, что у разметки на ширине экрана 1023px и выше не существует этой обертки»
		}

		/*
			При открытии: анимация идет от @starting-style → обычным стилям
			При закрытии: анимация идет от обычных стилей → &:not([open]), затем display:none
		*/ 

		&[open] { // селектор по атритубуту open.
			display: flex; // по умолчанию браузер скрывает <dialog>, используя свойство display: none. Когда диалог открыт, браузер меняет его на display: block. Когда вы вручную пишете в CSS .my-dialog { display: flex; }, вы перебиваете внутреннюю логику браузера. Чтобы сохранить flex и при этом позволить диалогу закрываться, нужно привязать display к состоянию диалога (наличию атрибута [open]).
			
			@starting-style { // Директива starting-style отвечает за начальное состояние	 ДО открытия.
				opacity: 0;
				translate: 50%; // Для сдвига элемента dialog на 50% вправо от его ширины.
			}
		}

		&:not([open]) {
			opacity: 0; // ← конечное состояние после закрытия
			translate: 50%; // ← конечное состояние после закрытия
		}

		@include tablet {
			align-items: center;
			justify-content: center;
		}
	}

	&__menu {

		@include tablet-above {
			padding-block: fluid-to-laptop(20, 16);
		}
		
		@include tablet {
				display: flex;
				overflow-y: auto;
		}

		&-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: fluid-to-laptop(32, 16);

			@include tablet {
				flex-direction: column;
				row-gap: 16px;
				margin-block: auto;
			}
		}

		&-link {
			position: relative;
			font-weight: 600;

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: var(--color-accent);
				transition: transform 0.25s ease-out;
			}

			@include hover {
				&::after {
					transform: scaleX(1);
				}
			}

			@include tablet {
				font-size: 20px;
			}
		}
	}

	&__burger-button { // &__burger-button расположен внутри элемента с классом container. На container действует padding-inline со значением padding-x
		position: relative; // Даже без явного z-index, position: relative выводит элемент на новый "слой" над обычным потоком документа.
	}
}