.icon {
	--iconSize: #{fluid-to-laptop(28, 24)};

	@include square(var(--iconSize));
	
	display: inline-flex;

	&--skills {
		--iconSize: #{rem(56)};
	}

  &--white-arrow {
		color: var(--color-accent);
		--iconSize: #{fluid-to-laptop(20, 14	)};
  }
}
