.projects {
	padding-block: var(--section-padding-y);
	background-color: var(--color-black);
	// border-bottom: rem(1) solid var(--zinc-500);

	&__inner {
		display: grid;
		row-gap: rem(20);
	}

	&__title {
		padding-block: rem(20);
		text-align: center;
		color: var(--color-white);
		font-weight: 400;

		&--accent {
			font-weight: 800;
		}
	}

	&__list {
		display: grid;
		justify-content: center;
		row-gap: rem(20);
	}


	&__item:nth-child(2) {
		@include tablet-above {
			.projects-card {
				flex-direction: row-reverse;
			}
		}
	}
}