.soc1als {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px fluid-to-laptop(14, 10);
	}

	&__link {
		padding: rem(18);
		border: 2px solid var(--color-black);
		border-radius: 4px;

		@include hover {
			transition-duration: var(--transition-duration);
			background-color: var(--color-black);
			
			svg {
				color: white;
			}
		}

		@include mobile {
			padding: rem(14);
		}
	}
}