.stack {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px fluid-to-laptop(14, 10);
	}

	&__item {
		display: flex;
		width: rem(56);
		height: rem(56);
		align-items: center;
		justify-content: center;
		padding: rem(18);
		border-radius: rem(4);

    svg path {
      fill: var(--color-white);  // все path белые по умолчанию
    }

		@include hover {
			transition-duration: var(--transition-duration);
			background-color: var(--color-white);

      svg path {
        fill: var(--color-black);
      }

			.skills__cell-icon-extra {

			}
		}
	}
}