/*
	Здесь подключены шрифты через css директиву font-face.
	Внутри font-face перечисляются дискрипторы (походящие на свойства, но ими не являющиеся)
*/

/* Шкала font-weight:
	100 — Thin/Hairline
	200 — Extra-Light
	300 — Light
	400 — Normal/Regular
	500 — Medium
	600 — Semi-Bold
	700 — Bold
	800 — Extra-Bold
	900 — Black/Heavy
*/

@font-face {
	font-family: 'Sora';
	src: url('../assets/fonts/Sora-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap; // Нужно для более оптимальной подгрузки шрифтов.
}

@font-face {
	font-family: 'Sora';
	src: url('../assets/fonts/Sora-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	src: url('../assets/fonts/Sora-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sora';
	src: url('../assets/fonts/Sora-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

