:root { // Пропишем селектор к корневому элементу разметку через псевдокласс root.
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-accent: #71717a;

	--zinc-100: #f4f4f5;
	--zinc-200: #e4e4e7;
	--zinc-300: #d4d4d8;
	--zinc-500: #71717a;
	--zinc-800: #27272a;

	--error: #E50000;

	--border-r: rem(2) solid var(--color-black);

	--font-family-base: 'Sora', sans-serif; // <-- После запятой указан тип шрифта, который будет использован, если не подгрузится первый.

	--container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};
	--section-padding-y: #{fluid(60, 40)}; // <-- Если промежуток между секциями по вертикали 120px, то для каждой секции нам будет достаточно добавить padding по 60px.

	--transition-duration: 0.2s;
	--transition-duration-longer: 0.4s; // <-- Переменная пригодится при реализации компонента аккордеона. Ибо значение в 0.2s для анимации раскрытия будет ощущаться так себе.

  @include laptop {
    --container-width: #{rem(1280)};
  }
}